@tailwind base;
@tailwind components;
@tailwind utilities;

:root { }

@media (prefers-color-scheme: dark) {
  :root { }
}

body { }

/* Custom CSS for slide-down animation */
.slide-down-enter-active {
  transition: max-height 700ms ease-in-out;
  max-height: 1000px;
}

.slide-down-enter-done {
  max-height: none;
}

.slide-down-exit-active {
  transition: max-height 700ms ease-in-out;
  max-height: 0px;
}